.card {
  display: grid;
  padding: 1rem;
  border: solid rgb(0, 0, 0) 2px;
  width: 200px;
  margin-top: 1rem;
  h3 {
    text-align: center;
  }
  }

  .input{
    border: 2px solid gold;
    border-radius: 5px;
    height: 20px;
    width: 150px;

  }
      .btn{
    border: 2px solid gold;
    border-radius: 5px;
    height: 27px;
    background-color: rgb(140, 244, 209);
    }